*.o
*.Po
*.a
# most of these files are created from ./configure and/or make
Makefile
aclocal.m4
autom4te.cache/
buttons6.diff
config.log
config.status
include/config.h
intl/Makefile
libtool
log.txt
mn_pce_log.diff
mute_channel_mednafen.patch
po/Makefile
po/Makefile.in
src/Makefile
src/cdplay/Makefile
src/demo/Makefile
src/desa68/Makefile
src/drivers/Makefile
src/drivers_dos/Makefile
src/gb/Makefile
src/gba/Makefile
src/hw_cpu/Makefile
src/hw_cpu/gen68k
src/hw_misc/Makefile
src/hw_sound/Makefile
src/hw_video/Makefile
src/lynx/Makefile
src/md/Makefile
src/mednafen
src/mn_dbg
src/mpcdec/Makefile
src/nes/Makefile
src/ngp/Makefile
src/pce/Makefile
src/pce_fast/Makefile
src/pcfx/Makefile
src/psx/Makefile
src/quicklz/Makefile
src/sexyal/Makefile
src/sms/Makefile
src/snes/Makefile
src/snes_faust/Makefile
src/sound/Makefile
src/tremor/Makefile
src/trio/Makefile
src/vb/Makefile
src/wswan/Makefile